.header {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	flex-direction: column;
	margin: 1vh;
	opacity: 80%;
}
.email {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1vh;
	font-size: 24px;
}

a {
	text-decoration: none;
}

a:hover {
	opacity: 55%;
}

.githubatag {
	margin: 0px 1vh 0px 1vh;
}

.linkedinatag {
	margin: 0px 1vh 0px 1vh;
}

.repoatag {
	margin: 0px 1vh 0px 1vh;
}
