* {
	background: #222831;
	color: white;
}

.gameboardcontainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

#gameboard {
	display: flex;
	align-items: center;
	justify-content: center;
	display: grid;
	grid-template: 50px 50px 50px / 50px 50px 50px;
	grid-gap: 5px;
	background: rgb(80, 22, 80);
	width: fit-content;
	height: fit-content;
}

.tiles {
	display: flex;
	/* background: white; */
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 50px;
}
